<div class="container" style="height:67vh;">
  <div class="container-card" style="display:grid;grid-template-columns: 1fr 1fr 1fr 1fr; padding:10px;">
    <% @bookings.each do | booking | %>
    <div class="cards" style="width:10vw; height:20vh; border:solid 1px grey; border-radius:3px;">
    <p><%= booking.product.name %></p>
    <p><%= booking.product.price_per_rent %></p>
    <p><%= booking.starts_at %></p>
    <p><%= booking.ends_at %></p>
    </div>
  <% end %>
  </div>
<%= link_to "Revenir à tous les produits", products_path %>
</div>
