<div class="container" style="height:67vh;">
  <div class="container-card">
    <% @bookings.each do | booking | %>
    <div class="bookings-cards">
      <a><%= link_to booking.product.name, booking_path(booking.id) %></a>
      <a><%= image_tag booking.product.photo %></a>
      <a><%= booking.product.price_per_rent %></a>
      <a><%= booking.starts_at %></a>
      <a><%= booking.ends_at %></a>
    </div>
  <% end %>
  </div>
<%= link_to "Revenir à tous les produits", products_path %>
<%= link_to "Payer en ligne", products_path %>
</div>
