<div class="navbar" >
  <div class="navbar-nav">
    <% if user_signed_in? %>
      <div class="nav-item active" style='display:flex; justify-content: space-between'>
        <a><%= link_to "Home", root_path %></a>
        <a><%= link_to "Products", products_path %></a>
        <a><%= link_to "Bookings", bookings_path %></a>
        <a><%= link_to "Log out", destroy_user_session_path, method: :delete %></a>
      </div>
    <% else %>
    <div class="navbar-menu" style='display:flex; justify-content: space-between'>
      <a><%= link_to "Membres", new_user_session_path %></a>
      <a><%= link_to "Home",    root_path %></a>
      <a><%= link_to "Products", products_path  %></a>
      <a><%= link_to "Bookings", bookings_path %></a>
    <% end %>
    </div>
  </div>
</div>
