<div class="container" style="height:auto;min-height: 67vh; margin-top:10vh;">
  <a><%= link_to "Voir les expériences", experiences_path %></a>
  <a><%= link_to "Tous les produits", products_path %></a>
  <a>Choisissez l'expérience qui vous correspond</a>
    <h1><%= @experience.name %></h1>
    <div class:="container-card">
        <a><% @experience_products.each do |experience_product| %><a>
        <div class="experiences-cards">
          <%= image_tag experience_product.photo %>
          <h2><%= experience_product.name %></h2>
          <a><%= experience_product.price_per_rent %>€</a>
          <a><%= link_to "Voir plus", product_path(experience_product) %></a>
        </div>
      <% end %>
    </div>
  <a><%= link_to "Voir les expériences", experiences_path %></a>
  <a><%= link_to "Tous les produits", products_path %></a>
</div>
