<div class="container" style="height:67vh;">
  <% @products.each do | product| %>
    <div class="cards" style="display:grid; grid-template-columns: 1fr 2fr 2fr 2fr;">
      <p><%= product.name %></p>
      <p><%= product.category %></p>
      <p><%= product.price_per_rent %> €</p>
      <p><%= link_to "Book now", product_path(product.id) %></p>
    </div>
  <% end %>
      <p><%= link_to "Accueil", root_path %></p>
</div>
