<div class="container" style="height:auto;min-height: 67vh;">
  <% @products.each do | product| %>
    <div class="cards">
      <p><%= image_tag product.photo %></p>
      <p><%= product.name %></p>
      <p><%= product.category %></p>
      <p><%= product.price_per_rent %> €</p>
      <p><%= link_to "Book now", product_path(product.id) %></p>
    </div>
  <% end %>
</div>
